<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="country-code-lookup.js"></script>
</head>

<body ng-controller="myController">
    <div>
        <div id="labels" style="float: left;">
            <p>
                <label>Country</label>
            </p>
            <p>
                <label>Population</label>
            </p>
            <p>
                <label>Leader</label>
            </p>
            <!-- <p>
                <label>Flag Colors</label>
            </p> -->
        </div>
        <div id="inputs" style="float: left;">
            <p>
                <select ng-model="name" ng-init="name=''" ng-blur="dataChange()" ng-change="getFlag(name)">
                    <option ng-repeat="code in isoCountries" value="{{code.ccode}}">{{code.cname}}</option>
                </select>
            </p>
            <p>
                <input type="text" ng-model="population" ng-init="population=''" ng-blur="dataChange()"></input>
            </p>
            <p>
                <input type="text" ng-model="leader" ng-init="leader=''" ng-blur="dataChange()"></input>
            </p>
           <!--  <p>
                <input type="text" ng-model="flagColors" ng-init="flagColors=''" ng-blur="dataChange()"></input>
            </p> -->
        </div>
    </div>
    <!-- width: 1.33333333em; line-height: 1em -->
    <div id="country-flag" style="float: left; margin-top: 15px; margin-left: 10px;">
        <img style="display: inline-block; width: 100px;" ng-model="flag" ng-src={{flag}}>
    </div>
    <div style="clear: both;">
        <form ng-submit="addCountry()">
            <input type="submit" value="Add Country" style="background-color: lightgrey;">
        </form>
    </div>

    <input type="text" ng-model="sortInput">

    <table border="1" style="margin-top: 10px;">
        <thead>
            <th><a href="" ng-click="sortField='name'; reverse = !reverse">Country Name</a></th>
            <th>Population</th>
            <th>Leader</th>
            <th>Flag</th>
        </thead>
        <tr ng-repeat="country in countries | filter:sortInput | orderBy:sortField:reverse">
            <td><a href="" ng-click="removeCountry($index)">{{country.name}}</a></td>
            <td>{{country.population}}</td>
            <td>{{country.leader}}</td>
            <td><img style="display: inline-block; width: 50px;" ng-model="flag" ng-src={{country.flag}}></td>
        </tr>
    </table>
</body>

</html>
